.generator {
    background-color: #151718;
    padding: 18px;
    border-radius: 3px;
    -moz-box-shadow:    3px 3px 3px 3px #111;
    -webkit-box-shadow: 3px 3px 3px 3px #111;
    box-shadow:         3px 3px 3px 3px #111;
}

.code {
    
    -moz-box-shadow:    3px 3px 3px 3px #111;
    -webkit-box-shadow: 3px 3px 3px 3px #111;
    box-shadow:         3px 3px 3px 3px #111;
}

hr {
    background-color: white !important;
}

.password-generator {
    width: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-bottom: 1em;
    padding-top: 15px;
    padding-bottom: 30px;
    
}

.password-span-generator {
    background-color: black;
}

.button-generator {
    background-color: black;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 21px;
    padding-right: 21px;
    border: none;
    outline: none;
}

.button-generator:focus {outline:0;}


.password-length-generator {
    background-color: black;
    color: white;
    padding: 7px;
    border: none;
    outline: none;
}

.text-white {
    color: white !important;
}

.checkbox-special-characters-generator {
    margin-left: 9px;
    transform: scale(1.5);
}

.clipboard-generator {
    cursor: pointer;
}